node_red/code.txt
[
    {
        "id": "1612957d.39ed4b",
        "type": "tab",
        "label": "Home"
    },
    {
        "id": "c82a4e3c.c3b84",
        "type": "tab",
        "label": "RGB LED"
    },
    {
        "id": "90feae88.89516",
        "type": "tab",
        "label": "GPIO Extension"
    },
    {
        "id": "a09a560f.3c7b28",
        "type": "tab",
        "label": "Mobile Oscilloscope"
    },
    {
        "id": "94cdf9e4.d527c8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "37738234.542a9e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5e5e5e",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "",
                "default": "#4B7930",
                "baseColor": "#6c6c6c",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#5e5e5e",
                    "value": "#5e5e5e",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                }
            }
        },
        "site": {
            "name": "DSP-Crowd",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b75ee76a.174068",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "ead84fdb.c13c18",
        "disp": false,
        "width": "6"
    },
    {
        "id": "ead84fdb.c13c18",
        "type": "ui_tab",
        "z": "",
        "name": "App Selector",
        "icon": "apps",
        "order": 1
    },
    {
        "id": "c4d11e7d.3eddb",
        "type": "ui_tab",
        "z": "",
        "name": "Oscilloscope",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "b36f1ae0.d06288",
        "type": "ui_group",
        "z": "",
        "name": "DSP-Crowd's Mobile Oscilloscope",
        "tab": "c4d11e7d.3eddb",
        "disp": true,
        "width": "6"
    },
    {
        "id": "93e635f7.749808",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "3ca2bc38.762514",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "3ca2bc38.762514",
        "type": "ui_tab",
        "z": "",
        "name": "RGB-LED",
        "icon": "lightbulb_outline",
        "order": 3
    },
    {
        "id": "2b28b91c.16e9f6",
        "type": "ui_tab",
        "z": "",
        "name": "GPIO Extension",
        "icon": "settings_input_component",
        "order": 4
    },
    {
        "id": "3cff295.9f4a0d6",
        "type": "ui_group",
        "z": "",
        "name": "RGB LEDs",
        "tab": "2b28b91c.16e9f6",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2275f293.d76f7e",
        "type": "ui_group",
        "z": "",
        "name": "Single Servo",
        "tab": "2b28b91c.16e9f6",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "22e66ec1.490cd2",
        "type": "ui_group",
        "z": "",
        "name": "Binary Outputs",
        "tab": "2b28b91c.16e9f6",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "bb86224a.10bcc",
        "type": "ui_group",
        "z": "",
        "name": "Inputs",
        "tab": "2b28b91c.16e9f6",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f92963ae.52d6a",
        "type": "ui_group",
        "z": "",
        "name": "Multiple Servos",
        "tab": "2b28b91c.16e9f6",
        "order": 8,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d6650ea5.92e21",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "2b28b91c.16e9f6",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a7645e77.18be3",
        "type": "ui_group",
        "z": "",
        "name": "Blink LED",
        "tab": "2b28b91c.16e9f6",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d323ac3b.5f107",
        "type": "ui_group",
        "z": "",
        "name": "Light Show",
        "tab": "2b28b91c.16e9f6",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3f59c178.c4fece",
        "type": "ui_group",
        "z": "",
        "name": "RGB LED Control",
        "tab": "3ca2bc38.762514",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "86da0e57.36033",
        "type": "ui_colour_picker",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "label": "Color",
        "group": "3f59c178.c4fece",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "b4664e5b.3d3b6"
            ]
        ]
    },
    {
        "id": "5916d890.d9ab78",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "/home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/sendrgb.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb.sh",
        "x": 850,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4664e5b.3d3b6",
        "type": "function",
        "z": "c82a4e3c.c3b84",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "5916d890.d9ab78"
            ]
        ]
    },
    {
        "id": "a60cc7e8.692f48",
        "type": "ui_button",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "group": "93e635f7.749808",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "5233d997.b0b7a8"
            ]
        ]
    },
    {
        "id": "5233d997.b0b7a8",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 640,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ca1d478d.c16f48",
        "type": "ui_colour_picker",
        "z": "90feae88.89516",
        "name": "",
        "label": "Color 2",
        "group": "3cff295.9f4a0d6",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "4c91b06f.0f597"
            ]
        ]
    },
    {
        "id": "5c350d43.81fde4",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/sendrgb.sh 3F 3D 3C",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb 3F:3D:3C",
        "x": 510,
        "y": 720,
        "wires": [
            [
                "4ebe7c13.2bbe44"
            ],
            [],
            []
        ]
    },
    {
        "id": "4c91b06f.0f597",
        "type": "function",
        "z": "90feae88.89516",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "5c350d43.81fde4"
            ]
        ]
    },
    {
        "id": "4ebe7c13.2bbe44",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "3efc0a93.47a916",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Position",
        "group": "2275f293.d76f7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "50000",
        "max": "100000",
        "step": 1,
        "x": 100,
        "y": 1360,
        "wires": [
            [
                "13f5e6cb.1bf009",
                "b72700a5.668d8"
            ]
        ]
    },
    {
        "id": "17c366ba.ca0779",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 1420,
        "wires": []
    },
    {
        "id": "13f5e6cb.1bf009",
        "type": "function",
        "z": "90feae88.89516",
        "name": "dec2hex",
        "func": "var strShort = msg.payload.toString(16);\nvar strLong = \"0000000000\" + strShort;\nvar res = strLong.slice(-8);\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1360,
        "wires": [
            [
                "17c366ba.ca0779",
                "adf094a0.e39168"
            ]
        ]
    },
    {
        "id": "adf094a0.e39168",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 21",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 21",
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "f1f66acd.ce6e98"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1f66acd.ce6e98",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1360,
        "wires": []
    },
    {
        "id": "797f6d90.666814",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "LED 1",
        "group": "22e66ec1.490cd2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "01",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "cd67b8c6.6f6e58",
                "a327331e.23a84",
                "d7b590bd.782cb"
            ]
        ]
    },
    {
        "id": "cd67b8c6.6f6e58",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setgpio.sh 37",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "set 37",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "12725ef6.7944e1",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "ddcb0746.36dfd8",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 1",
        "group": "bb86224a.10bcc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ae190fc3.eddd5",
        "type": "inject",
        "z": "90feae88.89516",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "b8faac31.3002c"
            ]
        ]
    },
    {
        "id": "bed26fe0.c108a",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "32078ae7.797a96",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Position 1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 740,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "8545682.3b00a98",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "d6650ea5.92e21",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "e1c10667.0ca768"
            ]
        ]
    },
    {
        "id": "e1c10667.0ca768",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 480,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b72700a5.668d8",
        "type": "range",
        "z": "90feae88.89516",
        "minin": "50000",
        "maxin": "100000",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 270,
        "y": 1480,
        "wires": [
            [
                "32bb5402.2c158c",
                "1c297621.b4a71a"
            ]
        ]
    },
    {
        "id": "32bb5402.2c158c",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 1520,
        "wires": []
    },
    {
        "id": "7c7461fc.e9793",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "2275f293.d76f7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1c297621.b4a71a",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "7c7461fc.e9793",
                "89ca13cb.b4d82"
            ]
        ]
    },
    {
        "id": "89ca13cb.b4d82",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f980af11.2c5fb",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Period",
        "group": "a7645e77.18be3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "1",
        "max": "5",
        "step": "1",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "182e66c5.a3ba99",
                "4039e42e.ab930c"
            ]
        ]
    },
    {
        "id": "9df654a0.9e4178",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Duty Cycle",
        "group": "a7645e77.18be3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "0",
        "max": "100",
        "step": "1",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "255ac222.22040e",
                "9dacbe8c.9db09"
            ]
        ]
    },
    {
        "id": "255ac222.22040e",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "f64114e2.6b7968"
            ]
        ]
    },
    {
        "id": "f64114e2.6b7968",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "a7645e77.18be3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "736d4ec3.07ab4",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "a7645e77.18be3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 960,
        "wires": []
    },
    {
        "id": "182e66c5.a3ba99",
        "type": "range",
        "z": "90feae88.89516",
        "minin": "1",
        "maxin": "5",
        "minout": "50000000",
        "maxout": "250000000",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "16fe548e.6b406b"
            ]
        ]
    },
    {
        "id": "4039e42e.ab930c",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add sec",
        "func": "var str = msg.payload;\nvar res = str + \"s\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 960,
        "wires": [
            [
                "736d4ec3.07ab4"
            ]
        ]
    },
    {
        "id": "3d4567c8.d86f48",
        "type": "function",
        "z": "90feae88.89516",
        "name": "Merge the two",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"period\":\n        context.data.period = msg.payload;\n        msg = null;\n        break;\n    case \"dutycycle\":\n        context.data.dutycycle = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.period != null && context.data.dutycycle != null ) {\n\tmsg2 = {};\n\n\tvar period = context.data.period;\n    var pulse = context.data.period * context.data.dutycycle / 100;\n\n    var periodHexShort = period.toString(16);\n    var periodHexLong = \"0000000000\" + periodHexShort;\n    var periodHex = periodHexLong.slice(-8);\n\n    var pulseHexShort = pulse.toString(16);\n    var pulseHexLong = \"0000000000\" + pulseHexShort;\n    var pulseHex = pulseHexLong.slice(-8);\n\n    msg2.payload = periodHex + \" \" + pulseHex;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 900,
        "wires": [
            [
                "fee3670a.86f8e8",
                "a209782a.b9e248",
                "a0703ab5.dd9918",
                "4f31deae.ef2f"
            ]
        ]
    },
    {
        "id": "16fe548e.6b406b",
        "type": "function",
        "z": "90feae88.89516",
        "name": "period",
        "func": "msg.topic=\"period\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 900,
        "wires": [
            [
                "3d4567c8.d86f48"
            ]
        ]
    },
    {
        "id": "9dacbe8c.9db09",
        "type": "function",
        "z": "90feae88.89516",
        "name": "dutycycle",
        "func": "msg.topic=\"dutycycle\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1020,
        "wires": [
            [
                "3d4567c8.d86f48"
            ]
        ]
    },
    {
        "id": "fee3670a.86f8e8",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "a209782a.b9e248",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setpwm.sh 39",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 39",
        "x": 990,
        "y": 900,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "120d6fb2.ab552",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1210,
        "y": 900,
        "wires": []
    },
    {
        "id": "4d12f7b7.252608",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Position 2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "dff2e969.e71e58",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Position 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 740,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "58471b6a.6b1704",
        "type": "ui_colour_picker",
        "z": "90feae88.89516",
        "name": "",
        "label": "Color 1",
        "group": "3cff295.9f4a0d6",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "15f76340.67043d"
            ]
        ]
    },
    {
        "id": "15f76340.67043d",
        "type": "function",
        "z": "90feae88.89516",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 660,
        "wires": [
            [
                "274abf11.6c9d4"
            ]
        ]
    },
    {
        "id": "274abf11.6c9d4",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/sendrgb.sh 39 37 35",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb 39:37:35",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "4ebe7c13.2bbe44"
            ],
            [],
            []
        ]
    },
    {
        "id": "a327331e.23a84",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setgpio.sh 39 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 39",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "d7b590bd.782cb",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setgpio.sh 35 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 35",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "4f31deae.ef2f",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setgpio.sh 35 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 35",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0703ab5.dd9918",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setgpio.sh 37 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 37",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "da54c4f9.f80688",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "d323ac3b.5f107",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "574676cd.db35a8",
                "ca328f89.45299",
                "fc2a158f.b94d28"
            ]
        ]
    },
    {
        "id": "574676cd.db35a8",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setpwm.sh 35 0505E100 047868C0",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 35",
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "ca328f89.45299",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setpwm.sh 37 0565E100 017D7840",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 37",
        "x": 490,
        "y": 1200,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc2a158f.b94d28",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setpwm.sh 39 05F5E100 02FAF080",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 39",
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "c3a436e4.af67d8",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e42511cf.1710c",
        "type": "ui_template",
        "z": "90feae88.89516",
        "group": "d6650ea5.92e21",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_trac.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3852bcad.b34774",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 2",
        "group": "bb86224a.10bcc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d55cbd15.efa75",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 3",
        "group": "bb86224a.10bcc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b8faac31.3002c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/spiarray.sh 00 00 00 01 00 00 02 00 00",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "name": "get 00, 01 and 02",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "bed26fe0.c108a",
                "355a34db.b6ac6c",
                "8ba1167b.844e48",
                "a7ab2bad.a8cf68"
            ],
            [],
            []
        ]
    },
    {
        "id": "53dbec27.2f83e4",
        "type": "inject",
        "z": "90feae88.89516",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "b8faac31.3002c"
            ]
        ]
    },
    {
        "id": "355a34db.b6ac6c",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 0",
        "func": "var oMsg = { payload: msg.payload.substr(5, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "2d901629.6910fa",
                "ddcb0746.36dfd8"
            ]
        ]
    },
    {
        "id": "8ba1167b.844e48",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 1",
        "func": "var oMsg = { payload: msg.payload.substr(11, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "2d901629.6910fa",
                "3852bcad.b34774"
            ]
        ]
    },
    {
        "id": "a7ab2bad.a8cf68",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 2",
        "func": "var oMsg = { payload: msg.payload.substr(17, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "2d901629.6910fa",
                "d55cbd15.efa75"
            ]
        ]
    },
    {
        "id": "2d901629.6910fa",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "9d7d7a59.abeb28",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Position 0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 1600,
        "wires": [
            [
                "ae533392.ae53e",
                "91c336fb.69e9c8",
                "5b55df19.bc74c",
                "5dc92574.f8044c"
            ]
        ]
    },
    {
        "id": "860b0252.db47f",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Position 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "ae533392.ae53e",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 23 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 23",
        "x": 490,
        "y": 1600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "91c336fb.69e9c8",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 24 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 24",
        "x": 490,
        "y": 1660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5b55df19.bc74c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 25 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 25",
        "x": 490,
        "y": 1720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5dc92574.f8044c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 26 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 26",
        "x": 490,
        "y": 1780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7dfbed15.af2644",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 23 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 23",
        "x": 490,
        "y": 1860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5d94f58e.b16e8c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 24 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 24",
        "x": 490,
        "y": 1920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "79b7c345.42ce2c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 25 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 25",
        "x": 490,
        "y": 1980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b5c8d0c7.e498",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 26 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 26",
        "x": 490,
        "y": 2040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c7d937ee.bbd678",
        "type": "ui_dropdown",
        "z": "1612957d.39ed4b",
        "name": "",
        "label": "",
        "group": "b75ee76a.174068",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Hello World",
                "value": "",
                "type": "str"
            },
            {
                "label": "RGB LED",
                "value": "",
                "type": "str"
            },
            {
                "label": "GPIO Extension",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a0f857d5.2fa4d8",
        "type": "ui_button",
        "z": "1612957d.39ed4b",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Update FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8b6b6b18.ff8298",
        "type": "function",
        "z": "1612957d.39ed4b",
        "name": "Merge the two",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"period\":\n        context.data.period = msg.payload;\n        msg = null;\n        break;\n    case \"dutycycle\":\n        context.data.dutycycle = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.period != null && context.data.dutycycle != null ) {\n\tmsg2 = {};\n\n\tvar period = context.data.period;\n    var pulse = context.data.period * context.data.dutycycle / 100;\n\n    var periodHexShort = period.toString(16);\n    var periodHexLong = \"0000000000\" + periodHexShort;\n    var periodHex = periodHexLong.slice(-8);\n\n    var pulseHexShort = pulse.toString(16);\n    var pulseHexLong = \"0000000000\" + pulseHexShort;\n    var pulseHex = pulseHexLong.slice(-8);\n\n    msg2.payload = periodHex + \" \" + pulseHex;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "43326e91.81f48",
        "type": "exec",
        "z": "1612957d.39ed4b",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/update-fpga.sh",
        "addpay": false,
        "append": "/home/pi/software/_hello-world/de0_nano/output/rr_base.bin",
        "useSpawn": "",
        "timer": "",
        "name": "File Slow",
        "x": 740,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1bb251b3.2435fe",
        "type": "ui_template",
        "z": "c82a4e3c.c3b84",
        "group": "93e635f7.749808",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_trac.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 830,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "db97da0d.4d8428",
        "type": "ui_template",
        "z": "1612957d.39ed4b",
        "group": "b75ee76a.174068",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_trac.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 150,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd820ca.0de43f",
        "type": "ui_button",
        "z": "1612957d.39ed4b",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "abe48aaa.513c28"
            ]
        ]
    },
    {
        "id": "abe48aaa.513c28",
        "type": "exec",
        "z": "1612957d.39ed4b",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 460,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    }
]
