examples/mobile_rgb-led/raspberry_pi_zero/node-red/code.txt
[
    {
        "id": "c82a4e3c.c3b84",
        "type": "tab",
        "label": "Main"
    },
    {
        "id": "86da0e57.36033",
        "type": "ui_colour_picker",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "label": "RGB LED color",
        "group": "b75ee76a.174068",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "b4664e5b.3d3b6"
            ]
        ]
    },
    {
        "id": "5916d890.d9ab78",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "/home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/sendrgb.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb.sh",
        "x": 890,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cd306de6.2c0a",
        "type": "ui_switch",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "label": "Toggle green LED",
        "group": "b75ee76a.174068",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "20688c7f.d60bc4"
            ]
        ]
    },
    {
        "id": "20688c7f.d60bc4",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/gpio4.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "gpio4.sh",
        "x": 640,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4664e5b.3d3b6",
        "type": "function",
        "z": "c82a4e3c.c3b84",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "5916d890.d9ab78"
            ]
        ]
    },
    {
        "id": "8855efb1.09a15",
        "type": "ui_button",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Update FPGA file A",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "889bea3e.72b518"
            ]
        ]
    },
    {
        "id": "d740343e.189fd8",
        "type": "ui_button",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Update FPGA file B",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "cbaa973f.5bdab8"
            ]
        ]
    },
    {
        "id": "889bea3e.72b518",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/update-fpga.sh",
        "addpay": false,
        "append": "/home/pi/software/_hello-world/de0_nano/output/rr_base.bin",
        "useSpawn": "",
        "timer": "",
        "name": "File Slow",
        "x": 640,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cbaa973f.5bdab8",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "sudo /home/pi/software/examples/mobile_rgb-led/raspberry_pi_zero/scripts/update-fpga.sh",
        "addpay": false,
        "append": "/home/pi/software/_hello-world/de0_nano/output/rr_base-fast.bin",
        "useSpawn": "",
        "timer": "",
        "name": "File Fast",
        "x": 640,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b75ee76a.174068",
        "type": "ui_group",
        "z": "",
        "name": "DSP-Crowd's FPGA controller",
        "tab": "ead84fdb.c13c18",
        "disp": true,
        "width": "6"
    },
    {
        "id": "ead84fdb.c13c18",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]
