_install/r_pi/node_red/code.txt
[
    {
        "id": "1612957d.39ed4b",
        "type": "tab",
        "label": "Home"
    },
    {
        "id": "c82a4e3c.c3b84",
        "type": "tab",
        "label": "RGB LED"
    },
    {
        "id": "90feae88.89516",
        "type": "tab",
        "label": "GPIO Ext. Demo"
    },
    {
        "id": "a09a560f.3c7b28",
        "type": "tab",
        "label": "GPIO Extension"
    },
    {
        "id": "94cdf9e4.d527c8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "37738234.542a9e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5e5e5e",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "",
                "default": "#4B7930",
                "baseColor": "#6c6c6c",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#5e5e5e",
                    "value": "#5e5e5e",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                }
            }
        },
        "site": {
            "name": "DSP-Crowd",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b75ee76a.174068",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "ead84fdb.c13c18",
        "disp": false,
        "width": "6"
    },
    {
        "id": "ead84fdb.c13c18",
        "type": "ui_tab",
        "z": "",
        "name": "App Selector",
        "icon": "apps",
        "order": 1
    },
    {
        "id": "c4d11e7d.3eddb",
        "type": "ui_tab",
        "z": "",
        "name": "GPIO Extension",
        "icon": "settings_input_component",
        "order": 4
    },
    {
        "id": "b36f1ae0.d06288",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "c4d11e7d.3eddb",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "93e635f7.749808",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "3ca2bc38.762514",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "3ca2bc38.762514",
        "type": "ui_tab",
        "z": "",
        "name": "RGB LED",
        "icon": "lightbulb_outline",
        "order": 2
    },
    {
        "id": "2b28b91c.16e9f6",
        "type": "ui_tab",
        "z": "",
        "name": "GPIO Ext. Demo",
        "icon": "settings_input_component",
        "order": 3
    },
    {
        "id": "3cff295.9f4a0d6",
        "type": "ui_group",
        "z": "",
        "name": "RGB LEDs",
        "tab": "2b28b91c.16e9f6",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2275f293.d76f7e",
        "type": "ui_group",
        "z": "",
        "name": "Single Servo",
        "tab": "2b28b91c.16e9f6",
        "order": 8,
        "disp": true,
        "width": "6"
    },
    {
        "id": "22e66ec1.490cd2",
        "type": "ui_group",
        "z": "",
        "name": "Binary Outputs",
        "tab": "2b28b91c.16e9f6",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "bb86224a.10bcc",
        "type": "ui_group",
        "z": "",
        "name": "Inputs",
        "tab": "2b28b91c.16e9f6",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f92963ae.52d6a",
        "type": "ui_group",
        "z": "",
        "name": "Multiple Servos",
        "tab": "2b28b91c.16e9f6",
        "order": 9,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d6650ea5.92e21",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "2b28b91c.16e9f6",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "a7645e77.18be3",
        "type": "ui_group",
        "z": "",
        "name": "Blink LED",
        "tab": "2b28b91c.16e9f6",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d323ac3b.5f107",
        "type": "ui_group",
        "z": "",
        "name": "Light Show",
        "tab": "2b28b91c.16e9f6",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3f59c178.c4fece",
        "type": "ui_group",
        "z": "",
        "name": "RGB LED Control",
        "tab": "3ca2bc38.762514",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3348eb9a.d76ba4",
        "type": "ui_group",
        "z": "",
        "name": "Dim LED",
        "tab": "2b28b91c.16e9f6",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9230333e.40b43",
        "type": "ui_group",
        "z": "",
        "name": "Set GPIO",
        "tab": "c4d11e7d.3eddb",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b1c1e6b3.5a0bd8",
        "type": "ui_group",
        "z": "",
        "name": "Get GPIO",
        "tab": "c4d11e7d.3eddb",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f3f7f16.6b0741",
        "type": "ui_group",
        "z": "",
        "name": "Dim LED",
        "tab": "c4d11e7d.3eddb",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d169f321.4828b",
        "type": "ui_group",
        "z": "",
        "name": "Servo",
        "tab": "c4d11e7d.3eddb",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b991659.c459c98",
        "type": "ui_group",
        "z": "",
        "name": "Blink LED",
        "tab": "c4d11e7d.3eddb",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2333a13d.9c862e",
        "type": "ui_group",
        "z": "",
        "name": "RGB LED",
        "tab": "c4d11e7d.3eddb",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b6e41fc0.658ff",
        "type": "ui_group",
        "z": "",
        "name": "PWM",
        "tab": "c4d11e7d.3eddb",
        "disp": true,
        "width": "6"
    },
    {
        "id": "86da0e57.36033",
        "type": "ui_colour_picker",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "label": "Color",
        "group": "3f59c178.c4fece",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "b4664e5b.3d3b6"
            ]
        ]
    },
    {
        "id": "5916d890.d9ab78",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "/home/pi/.dsp-crowd/software/apps/mobile_rgb-led/r_pi/scripts/sendrgb.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb.sh",
        "x": 810,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4664e5b.3d3b6",
        "type": "function",
        "z": "c82a4e3c.c3b84",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "5916d890.d9ab78"
            ]
        ]
    },
    {
        "id": "a60cc7e8.692f48",
        "type": "ui_button",
        "z": "c82a4e3c.c3b84",
        "name": "",
        "group": "93e635f7.749808",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "5233d997.b0b7a8"
            ]
        ]
    },
    {
        "id": "5233d997.b0b7a8",
        "type": "exec",
        "z": "c82a4e3c.c3b84",
        "command": "sudo /home/pi/.dsp-crowd/software/_install/r_pi/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 450,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ca1d478d.c16f48",
        "type": "ui_colour_picker",
        "z": "90feae88.89516",
        "name": "",
        "label": "Color 2",
        "group": "3cff295.9f4a0d6",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "4c91b06f.0f597"
            ]
        ]
    },
    {
        "id": "5c350d43.81fde4",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/sendrgb.sh 63 61 60",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb 63:61:60",
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "4ebe7c13.2bbe44"
            ],
            [],
            []
        ]
    },
    {
        "id": "4c91b06f.0f597",
        "type": "function",
        "z": "90feae88.89516",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "5c350d43.81fde4"
            ]
        ]
    },
    {
        "id": "4ebe7c13.2bbe44",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3efc0a93.47a916",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Position",
        "group": "2275f293.d76f7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 100,
        "y": 1860,
        "wires": [
            [
                "b72700a5.668d8",
                "1c297621.b4a71a"
            ]
        ]
    },
    {
        "id": "adf094a0.e39168",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setservo.sh 33",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 33",
        "x": 490,
        "y": 1860,
        "wires": [
            [
                "f1f66acd.ce6e98"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1f66acd.ce6e98",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1860,
        "wires": []
    },
    {
        "id": "797f6d90.666814",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "LED 1",
        "group": "22e66ec1.490cd2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "cd67b8c6.6f6e58",
                "a327331e.23a84",
                "d7b590bd.782cb"
            ]
        ]
    },
    {
        "id": "cd67b8c6.6f6e58",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 55",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "set 55",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "12725ef6.7944e1",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "ddcb0746.36dfd8",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 1",
        "group": "bb86224a.10bcc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ae190fc3.eddd5",
        "type": "inject",
        "z": "90feae88.89516",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "f5fb6bf7.3fb668"
            ]
        ]
    },
    {
        "id": "bed26fe0.c108a",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "32078ae7.797a96",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Position 1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 740,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "8545682.3b00a98",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "d6650ea5.92e21",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "e1c10667.0ca768"
            ]
        ]
    },
    {
        "id": "e1c10667.0ca768",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "sudo /home/pi/.dsp-crowd/software/_install/r_pi/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 450,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b72700a5.668d8",
        "type": "range",
        "z": "90feae88.89516",
        "minin": "0",
        "maxin": "100",
        "minout": "50000",
        "maxout": "100000",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 290,
        "y": 1860,
        "wires": [
            [
                "adf094a0.e39168"
            ]
        ]
    },
    {
        "id": "7c7461fc.e9793",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "2275f293.d76f7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 1920,
        "wires": []
    },
    {
        "id": "1c297621.b4a71a",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1920,
        "wires": [
            [
                "7c7461fc.e9793"
            ]
        ]
    },
    {
        "id": "f980af11.2c5fb",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Period",
        "group": "a7645e77.18be3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "period",
        "min": "1",
        "max": "5",
        "step": "1",
        "x": 90,
        "y": 1340,
        "wires": [
            [
                "182e66c5.a3ba99",
                "4039e42e.ab930c"
            ]
        ]
    },
    {
        "id": "9df654a0.9e4178",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Duty Cycle",
        "group": "a7645e77.18be3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "dutycycle",
        "min": "0",
        "max": "100",
        "step": "1",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "255ac222.22040e",
                "3d4567c8.d86f48"
            ]
        ]
    },
    {
        "id": "255ac222.22040e",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 1240,
        "wires": [
            [
                "f64114e2.6b7968"
            ]
        ]
    },
    {
        "id": "f64114e2.6b7968",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "a7645e77.18be3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 1240,
        "wires": []
    },
    {
        "id": "736d4ec3.07ab4",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "a7645e77.18be3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 1400,
        "wires": []
    },
    {
        "id": "182e66c5.a3ba99",
        "type": "range",
        "z": "90feae88.89516",
        "minin": "1",
        "maxin": "5",
        "minout": "50000000",
        "maxout": "250000000",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "3d4567c8.d86f48"
            ]
        ]
    },
    {
        "id": "4039e42e.ab930c",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add sec",
        "func": "var str = msg.payload;\nvar res = str + \"s\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "736d4ec3.07ab4"
            ]
        ]
    },
    {
        "id": "3d4567c8.d86f48",
        "type": "function",
        "z": "90feae88.89516",
        "name": "Merge the two",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"period\":\n        context.data.period = msg.payload;\n        msg = null;\n        break;\n    case \"dutycycle\":\n        context.data.dutycycle = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.period != null && context.data.dutycycle != null ) {\n\tmsg2 = {};\n\n\tvar period = context.data.period;\n    var pulse = context.data.period * context.data.dutycycle / 100;\n\n    msg2.payload = period + \" \" + pulse;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "fee3670a.86f8e8",
                "a209782a.b9e248",
                "a0703ab5.dd9918",
                "4f31deae.ef2f"
            ]
        ]
    },
    {
        "id": "fee3670a.86f8e8",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a209782a.b9e248",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh 57",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 57",
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "120d6fb2.ab552",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4d12f7b7.252608",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Position 2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "dff2e969.e71e58",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Position 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 740,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "58471b6a.6b1704",
        "type": "ui_colour_picker",
        "z": "90feae88.89516",
        "name": "",
        "label": "Color 1",
        "group": "3cff295.9f4a0d6",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "15f76340.67043d"
            ]
        ]
    },
    {
        "id": "15f76340.67043d",
        "type": "function",
        "z": "90feae88.89516",
        "name": "slice hash",
        "func": "var oMsg = { payload: msg.payload.slice(1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "274abf11.6c9d4"
            ]
        ]
    },
    {
        "id": "274abf11.6c9d4",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/sendrgb.sh 57 55 53",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "sendrgb 57:55:53",
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "4ebe7c13.2bbe44"
            ],
            [],
            []
        ]
    },
    {
        "id": "a327331e.23a84",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 57 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 57",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "d7b590bd.782cb",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 53 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 53",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "12725ef6.7944e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "4f31deae.ef2f",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 53 0",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 53",
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0703ab5.dd9918",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 55 0",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 55",
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "120d6fb2.ab552"
            ],
            [],
            []
        ]
    },
    {
        "id": "da54c4f9.f80688",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "d323ac3b.5f107",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "574676cd.db35a8",
                "ca328f89.45299",
                "fc2a158f.b94d28"
            ]
        ]
    },
    {
        "id": "574676cd.db35a8",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh 53 84271360 75000000",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 53",
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "ca328f89.45299",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh 55 90562816 25000000",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 55",
        "x": 490,
        "y": 1700,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc2a158f.b94d28",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh 57 100000000 50000000",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setpwm 57",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "c3a436e4.af67d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "c3a436e4.af67d8",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e42511cf.1710c",
        "type": "ui_template",
        "z": "90feae88.89516",
        "group": "d6650ea5.92e21",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_node-red.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 90,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3852bcad.b34774",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 2",
        "group": "bb86224a.10bcc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d55cbd15.efa75",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Switch 3",
        "group": "bb86224a.10bcc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b8faac31.3002c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/_install/r_pi/scripts/spiarray.sh 00 00 00 01 00 00 02 00 00",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "name": "get 0, 1 and 2",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "bed26fe0.c108a",
                "355a34db.b6ac6c",
                "8ba1167b.844e48",
                "a7ab2bad.a8cf68"
            ],
            [],
            []
        ]
    },
    {
        "id": "53dbec27.2f83e4",
        "type": "inject",
        "z": "90feae88.89516",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "b8faac31.3002c"
            ]
        ]
    },
    {
        "id": "355a34db.b6ac6c",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 0",
        "func": "var oMsg = { payload: msg.payload.substr(5, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "2d901629.6910fa",
                "ddcb0746.36dfd8"
            ]
        ]
    },
    {
        "id": "8ba1167b.844e48",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 1",
        "func": "var oMsg = { payload: msg.payload.substr(11, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "2d901629.6910fa",
                "3852bcad.b34774"
            ]
        ]
    },
    {
        "id": "a7ab2bad.a8cf68",
        "type": "function",
        "z": "90feae88.89516",
        "name": "status 2",
        "func": "var oMsg = { payload: msg.payload.substr(17, 1) };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "2d901629.6910fa",
                "d55cbd15.efa75"
            ]
        ]
    },
    {
        "id": "2d901629.6910fa",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d7d7a59.abeb28",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Position 0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 2080,
        "wires": [
            [
                "ae533392.ae53e",
                "91c336fb.69e9c8",
                "5b55df19.bc74c",
                "5dc92574.f8044c"
            ]
        ]
    },
    {
        "id": "860b0252.db47f",
        "type": "ui_button",
        "z": "90feae88.89516",
        "name": "",
        "group": "f92963ae.52d6a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Position 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "ae533392.ae53e",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 23 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 23",
        "x": 490,
        "y": 2080,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "91c336fb.69e9c8",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 24 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 24",
        "x": 490,
        "y": 2140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5b55df19.bc74c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 25 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 25",
        "x": 490,
        "y": 2200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5dc92574.f8044c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 26 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 26",
        "x": 490,
        "y": 2260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7dfbed15.af2644",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 23 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 23",
        "x": 490,
        "y": 2340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5d94f58e.b16e8c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 24 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 24",
        "x": 490,
        "y": 2400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "79b7c345.42ce2c",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 25 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 25",
        "x": 490,
        "y": 2460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b5c8d0c7.e498",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/software/examples/rpi-gpio-ext/raspberry_pi_zero/scripts/setservo.sh 26 000124F8",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "setservo 26",
        "x": 490,
        "y": 2520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c7d937ee.bbd678",
        "type": "ui_dropdown",
        "z": "1612957d.39ed4b",
        "name": "",
        "label": "Apps",
        "group": "b75ee76a.174068",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "RGB LED",
                "value": "mobile_rgb-led",
                "type": "str"
            },
            {
                "label": "GPIO Extension",
                "value": "rpi-gpio-ext",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "95b59c7b.298e9",
                "13c890b2.2c525f"
            ]
        ]
    },
    {
        "id": "a0f857d5.2fa4d8",
        "type": "ui_button",
        "z": "1612957d.39ed4b",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Activate App",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "submit",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "1c254915.9fd5c7",
                "c7d937ee.bbd678",
                "57a16bd6.eacb14",
                "be72ad3b.9485b"
            ]
        ]
    },
    {
        "id": "43326e91.81f48",
        "type": "exec",
        "z": "1612957d.39ed4b",
        "command": "sudo /home/pi/.dsp-crowd/software/_install/r_pi/scripts/update-fpga.sh",
        "addpay": true,
        "append": "",
        "useSpawn": true,
        "timer": "",
        "name": "Update FPGA",
        "x": 750,
        "y": 360,
        "wires": [
            [
                "1b01969c.b39209"
            ],
            [
                "1b01969c.b39209"
            ],
            [
                "57a16bd6.eacb14",
                "1b01969c.b39209"
            ]
        ]
    },
    {
        "id": "1bb251b3.2435fe",
        "type": "ui_template",
        "z": "c82a4e3c.c3b84",
        "group": "93e635f7.749808",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_node-red.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 90,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "db97da0d.4d8428",
        "type": "ui_template",
        "z": "1612957d.39ed4b",
        "group": "b75ee76a.174068",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_node-red.png\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 90,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebd28d8.e2cff7",
        "type": "ui_button",
        "z": "1612957d.39ed4b",
        "name": "",
        "group": "b75ee76a.174068",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Update App List",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f910fa81.8d3ce8",
        "type": "ui_slider",
        "z": "90feae88.89516",
        "name": "",
        "label": "Brightness",
        "group": "3348eb9a.d76ba4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "1b9ab72.66b0e49",
                "a8a83f9b.e3db7",
                "bafc592c.66f298",
                "911c6327.35018"
            ]
        ]
    },
    {
        "id": "8cf63071.51162",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/dimled.sh 53",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "dim led 53",
        "x": 480,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9e6edf35.312a2",
        "type": "ui_text",
        "z": "90feae88.89516",
        "group": "3348eb9a.d76ba4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 920,
        "wires": []
    },
    {
        "id": "bafc592c.66f298",
        "type": "range",
        "z": "90feae88.89516",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 310,
        "y": 860,
        "wires": [
            [
                "8cf63071.51162"
            ]
        ]
    },
    {
        "id": "911c6327.35018",
        "type": "function",
        "z": "90feae88.89516",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "9e6edf35.312a2"
            ]
        ]
    },
    {
        "id": "1b9ab72.66b0e49",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 57 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 57",
        "x": 480,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a8a83f9b.e3db7",
        "type": "exec",
        "z": "90feae88.89516",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh 55 00",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "clear 55",
        "x": 480,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "57a16bd6.eacb14",
        "type": "function",
        "z": "1612957d.39ed4b",
        "name": "Map Return Code",
        "func": "if(msg.payload < 0)\n    msg.payload = \"In progress\";\nelse\nif(msg.payload == 0)\n    msg.payload = \"OK\";\nelse\n    msg.payload = \"FAILED (\" + msg.payload + \")\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 420,
        "wires": [
            [
                "ab67f9f7.a59688"
            ]
        ]
    },
    {
        "id": "ab67f9f7.a59688",
        "type": "ui_text",
        "z": "1612957d.39ed4b",
        "group": "b75ee76a.174068",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "16691481.412bbb",
        "type": "inject",
        "z": "1612957d.39ed4b",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "57a16bd6.eacb14"
            ]
        ]
    },
    {
        "id": "f584e6ec.5c3b18",
        "type": "inject",
        "z": "1612957d.39ed4b",
        "name": "",
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "57a16bd6.eacb14"
            ]
        ]
    },
    {
        "id": "95b59c7b.298e9",
        "type": "debug",
        "z": "1612957d.39ed4b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c254915.9fd5c7",
        "type": "debug",
        "z": "1612957d.39ed4b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "13c890b2.2c525f",
        "type": "function",
        "z": "1612957d.39ed4b",
        "name": "Create Param",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"submit\")\n    msg.payload = context.data.file;\nelse{\n    context.data.file = \"/home/pi/.dsp-crowd/software/apps/\" + msg.payload + \"/de0_nano/output/rr_base.bin\";\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "de29df36.2523",
                "43326e91.81f48"
            ]
        ]
    },
    {
        "id": "de29df36.2523",
        "type": "debug",
        "z": "1612957d.39ed4b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b01969c.b39209",
        "type": "debug",
        "z": "1612957d.39ed4b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "43b18bd9.141c74",
        "type": "link out",
        "z": "90feae88.89516",
        "name": "",
        "links": [
            "e836cbea.9615d8",
            "beb0de24.627a6"
        ],
        "x": 855,
        "y": 160,
        "wires": []
    },
    {
        "id": "6190f063.42de",
        "type": "debug",
        "z": "90feae88.89516",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "cb3f1185.72073",
        "type": "ui_switch",
        "z": "90feae88.89516",
        "name": "",
        "label": "Activate Polling",
        "group": "bb86224a.10bcc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "enable",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "f5fb6bf7.3fb668"
            ]
        ]
    },
    {
        "id": "beb0de24.627a6",
        "type": "link in",
        "z": "90feae88.89516",
        "name": "",
        "links": [
            "43b18bd9.141c74"
        ],
        "x": 55,
        "y": 400,
        "wires": [
            [
                "6190f063.42de",
                "b8faac31.3002c"
            ]
        ]
    },
    {
        "id": "f5fb6bf7.3fb668",
        "type": "function",
        "z": "90feae88.89516",
        "name": "IfEnabled",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"enable\")\n{\n    context.data.enable = msg.payload;\n    return null;\n}else{\n    if(!context.data.enable)\n        return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "43b18bd9.141c74"
            ]
        ]
    },
    {
        "id": "cadcaee6.c64f9",
        "type": "link in",
        "z": "90feae88.89516",
        "name": "",
        "links": [
            "3b19a5f0.62402a"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "2dc07c0b.564394"
            ]
        ]
    },
    {
        "id": "3b19a5f0.62402a",
        "type": "link out",
        "z": "1612957d.39ed4b",
        "name": "",
        "links": [
            "cadcaee6.c64f9"
        ],
        "x": 435,
        "y": 540,
        "wires": []
    },
    {
        "id": "be72ad3b.9485b",
        "type": "function",
        "z": "1612957d.39ed4b",
        "name": "send reset",
        "func": "msg.topic = \"reset\";\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "3b19a5f0.62402a"
            ]
        ]
    },
    {
        "id": "2dc07c0b.564394",
        "type": "function",
        "z": "90feae88.89516",
        "name": "inject false",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "cb3f1185.72073"
            ]
        ]
    },
    {
        "id": "8aca40d3.d6b29",
        "type": "ui_button",
        "z": "a09a560f.3c7b28",
        "name": "",
        "group": "b36f1ae0.d06288",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Restart FPGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "f53dd40d.186f98"
            ]
        ]
    },
    {
        "id": "f53dd40d.186f98",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "sudo /home/pi/.dsp-crowd/software/_install/r_pi/scripts/fpga-reconf.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reconf",
        "x": 450,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4151ca38.8dc654",
        "type": "ui_template",
        "z": "a09a560f.3c7b28",
        "group": "b36f1ae0.d06288",
        "name": "Logo",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n\n<img src=\"logo_node-red.png\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 90,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "76a17ea8.67771",
        "type": "ui_button",
        "z": "a09a560f.3c7b28",
        "name": "",
        "group": "9230333e.40b43",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "High",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "submit",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "38a6ef72.6c589"
            ]
        ]
    },
    {
        "id": "21d205c9.e73e8a",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "9230333e.40b43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "38a6ef72.6c589"
            ]
        ]
    },
    {
        "id": "41aa936e.7d0a9c",
        "type": "ui_button",
        "z": "a09a560f.3c7b28",
        "name": "",
        "group": "9230333e.40b43",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Low",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "submit",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "38a6ef72.6c589"
            ]
        ]
    },
    {
        "id": "2d22fee8.a82fe2",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "38a6ef72.6c589",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"submit\" && context.data.id != null)\n{\n    msg.payload = context.data.id + \" \" + msg.payload;\n}else{\n    context.data.id = msg.payload;\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "2d22fee8.a82fe2",
                "91c5b505.b97678"
            ]
        ]
    },
    {
        "id": "91c5b505.b97678",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setgpio.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Set GPIO",
        "x": 460,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "988c9374.f0943",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/getgpio.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Get GPIO",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "de5387a8.466bc8",
                "cc8e7e04.c7e42"
            ],
            [],
            []
        ]
    },
    {
        "id": "e6cc77b7.906e98",
        "type": "ui_button",
        "z": "a09a560f.3c7b28",
        "name": "",
        "group": "b1c1e6b3.5a0bd8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Get",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "submit",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "2d3c6f82.3485a"
            ]
        ]
    },
    {
        "id": "567c1016.4bc44",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "b1c1e6b3.5a0bd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "2d3c6f82.3485a"
            ]
        ]
    },
    {
        "id": "2d3c6f82.3485a",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"submit\" && context.data.id != null)\n{\n    msg.payload = context.data.id;\n}else{\n    context.data.id = msg.payload;\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "b0526ef6.73e02",
                "988c9374.f0943"
            ]
        ]
    },
    {
        "id": "de5387a8.466bc8",
        "type": "ui_switch",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Value",
        "group": "b1c1e6b3.5a0bd8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b0526ef6.73e02",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc8e7e04.c7e42",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "59277ee8.321de",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "f3f7f16.6b0741",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "72fd8f2e.4f7"
            ]
        ]
    },
    {
        "id": "72fd8f2e.4f7",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"submit\" && context.data.id != null)\n{\n    msg.payload = context.data.id + \" \" + msg.payload;\n}else{\n    context.data.id = msg.payload;\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "536b585a.379c78",
                "97a05e35.fc87b"
            ]
        ]
    },
    {
        "id": "dd33ec85.bf4fb",
        "type": "ui_slider",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Brightness",
        "group": "f3f7f16.6b0741",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "submit",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "cecb0187.63143",
                "93adaa8b.21d628"
            ]
        ]
    },
    {
        "id": "536b585a.379c78",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/dimled.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Dim LED",
        "x": 640,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "93adaa8b.21d628",
        "type": "range",
        "z": "a09a560f.3c7b28",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 270,
        "y": 680,
        "wires": [
            [
                "72fd8f2e.4f7"
            ]
        ]
    },
    {
        "id": "cecb0187.63143",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "84351669.9153f8"
            ]
        ]
    },
    {
        "id": "84351669.9153f8",
        "type": "ui_text",
        "z": "a09a560f.3c7b28",
        "group": "f3f7f16.6b0741",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 720,
        "wires": []
    },
    {
        "id": "97a05e35.fc87b",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "3184c834.d2c348",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "d169f321.4828b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "289b179a.7cfec8"
            ]
        ]
    },
    {
        "id": "289b179a.7cfec8",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nif(msg.topic == \"submit\" && context.data.id != null)\n{\n    msg.payload = context.data.id + \" \" + msg.payload;\n}else{\n    context.data.id = msg.payload;\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "2259d9c1.5061e6",
                "3e5f9842.b9b2f8"
            ]
        ]
    },
    {
        "id": "2259d9c1.5061e6",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setservo.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Set Servo",
        "x": 640,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "11e0dd5a.b1e553",
        "type": "range",
        "z": "a09a560f.3c7b28",
        "minin": "0",
        "maxin": "100",
        "minout": "50000",
        "maxout": "100000",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "289b179a.7cfec8"
            ]
        ]
    },
    {
        "id": "3222cd86.cea612",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 940,
        "wires": [
            [
                "8b1834af.084388"
            ]
        ]
    },
    {
        "id": "8b1834af.084388",
        "type": "ui_text",
        "z": "a09a560f.3c7b28",
        "group": "d169f321.4828b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 940,
        "wires": []
    },
    {
        "id": "3e5f9842.b9b2f8",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "9f696c61.3309e",
        "type": "ui_slider",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Position",
        "group": "d169f321.4828b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "submit",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 100,
        "y": 900,
        "wires": [
            [
                "11e0dd5a.b1e553",
                "3222cd86.cea612"
            ]
        ]
    },
    {
        "id": "cfa3ee73.6296",
        "type": "ui_slider",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Period",
        "group": "b991659.c459c98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "period",
        "min": "1",
        "max": "5",
        "step": "1",
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "70480fb.2da52f",
                "b5eabfe2.0c59f"
            ]
        ]
    },
    {
        "id": "2207a574.1af87a",
        "type": "ui_slider",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Duty Cycle",
        "group": "b991659.c459c98",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "dutycycle",
        "min": "0",
        "max": "100",
        "step": "1",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "1038818d.cc7c0e",
                "99b0c32e.a400e"
            ]
        ]
    },
    {
        "id": "1038818d.cc7c0e",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "add percent",
        "func": "var str = msg.payload;\nvar res = str + \"%\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "d8738e38.d24d6"
            ]
        ]
    },
    {
        "id": "d8738e38.d24d6",
        "type": "ui_text",
        "z": "a09a560f.3c7b28",
        "group": "b991659.c459c98",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5adfa324.6de1fc",
        "type": "ui_text",
        "z": "a09a560f.3c7b28",
        "group": "b991659.c459c98",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 1200,
        "wires": []
    },
    {
        "id": "70480fb.2da52f",
        "type": "range",
        "z": "a09a560f.3c7b28",
        "minin": "1",
        "maxin": "5",
        "minout": "50000000",
        "maxout": "250000000",
        "action": "scale",
        "round": true,
        "name": "",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "99b0c32e.a400e"
            ]
        ]
    },
    {
        "id": "b5eabfe2.0c59f",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "add sec",
        "func": "var str = msg.payload;\nvar res = str + \"s\";\nvar oMsg = { payload: res };\nreturn oMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1200,
        "wires": [
            [
                "5adfa324.6de1fc"
            ]
        ]
    },
    {
        "id": "99b0c32e.a400e",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"id\":\n        context.data.id = msg.payload;\n        msg = null;\n        break;\n    case \"period\":\n        context.data.period = msg.payload;\n        msg = null;\n        break;\n    case \"dutycycle\":\n        context.data.dutycycle = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.period != null && context.data.dutycycle != null  && context.data.id != null) {\n\tmsg2 = {};\n\n\tvar period = context.data.period;\n    var pulse = context.data.period * context.data.dutycycle / 100;\n\n    msg2.payload = context.data.id + \" \" + period + \" \" + pulse;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "81adb41.dc98748",
                "1a2832c5.8637dd"
            ]
        ]
    },
    {
        "id": "81adb41.dc98748",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1a2832c5.8637dd",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Set PWM",
        "x": 640,
        "y": 1160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c91aa497.9ce4d8",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "b991659.c459c98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "id",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "99b0c32e.a400e"
            ]
        ]
    },
    {
        "id": "2b8d8f14.2af98",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"red_id\":\n        context.data.red_id = msg.payload;\n        msg = null;\n        break;\n    case \"green_id\":\n        context.data.green_id = msg.payload;\n        msg = null;\n        break;\n    case \"blue_id\":\n        context.data.blue_id = msg.payload;\n        msg = null;\n        break;\n    case \"value\":\n        context.data.value = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.red_id != null && context.data.green_id != null && context.data.blue_id != null && context.data.value != null ) {\n\tmsg2 = {};\n\n    msg2.payload = context.data.red_id + \" \" + context.data.green_id + \" \" + context.data.blue_id + \" \" + context.data.value;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 1400,
        "wires": [
            [
                "f8064922.126838",
                "c5f3376.dad16c8"
            ]
        ]
    },
    {
        "id": "5db16e2f.8c7b",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Red ID",
        "group": "2333a13d.9c862e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "red_id",
        "x": 270,
        "y": 1340,
        "wires": [
            [
                "2b8d8f14.2af98"
            ]
        ]
    },
    {
        "id": "f71f159.57c06e8",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Green ID",
        "group": "2333a13d.9c862e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "green_id",
        "x": 280,
        "y": 1380,
        "wires": [
            [
                "2b8d8f14.2af98"
            ]
        ]
    },
    {
        "id": "4808494d.def458",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Blue ID",
        "group": "2333a13d.9c862e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "blue_id",
        "x": 270,
        "y": 1420,
        "wires": [
            [
                "2b8d8f14.2af98"
            ]
        ]
    },
    {
        "id": "b1aa1e73.b573c",
        "type": "ui_colour_picker",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Color",
        "group": "2333a13d.9c862e",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "value",
        "x": 90,
        "y": 1460,
        "wires": [
            [
                "cd23a4a5.9f2358"
            ]
        ]
    },
    {
        "id": "f8064922.126838",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/sendrgb.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Send RGB",
        "x": 650,
        "y": 1400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c5f3376.dad16c8",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 1360,
        "wires": []
    },
    {
        "id": "cd23a4a5.9f2358",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "slice hash",
        "func": "msg.payload = msg.payload.slice(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1460,
        "wires": [
            [
                "2b8d8f14.2af98"
            ]
        ]
    },
    {
        "id": "9a691e2f.e4f1b",
        "type": "function",
        "z": "a09a560f.3c7b28",
        "name": "submit",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"id\":\n        context.data.id = msg.payload;\n        msg = null;\n        break;\n    case \"period\":\n        context.data.period = msg.payload;\n        msg = null;\n        break;\n    case \"pulse_width\":\n        context.data.pulse_width = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.period != null && context.data.pulse_width != null  && context.data.id != null) {\n\tmsg2 = {};\n\n\tvar period = context.data.period;\n    var pulse = context.data.pulse_width;\n\n    msg2.payload = context.data.id + \" \" + period + \" \" + pulse;\n\n    //context.data=null;\n\treturn msg2;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1680,
        "wires": [
            [
                "f899a2a3.4cb8f",
                "d5b779f9.411da8"
            ]
        ]
    },
    {
        "id": "f899a2a3.4cb8f",
        "type": "debug",
        "z": "a09a560f.3c7b28",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 1640,
        "wires": []
    },
    {
        "id": "d5b779f9.411da8",
        "type": "exec",
        "z": "a09a560f.3c7b28",
        "command": "/home/pi/.dsp-crowd/software/apps/rpi-gpio-ext/r_pi/scripts/setpwm.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Set PWM",
        "x": 460,
        "y": 1680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b20c2ba7.d95bd8",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "ID",
        "group": "b6e41fc0.658ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "id",
        "x": 90,
        "y": 1640,
        "wires": [
            [
                "9a691e2f.e4f1b"
            ]
        ]
    },
    {
        "id": "166759e5.a0e7a6",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Period",
        "group": "b6e41fc0.658ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "period",
        "x": 90,
        "y": 1680,
        "wires": [
            [
                "9a691e2f.e4f1b"
            ]
        ]
    },
    {
        "id": "d3486cac.75721",
        "type": "ui_text_input",
        "z": "a09a560f.3c7b28",
        "name": "",
        "label": "Pulse width",
        "group": "b6e41fc0.658ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "pulse_width",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "9a691e2f.e4f1b"
            ]
        ]
    }
]
